.home_logo{
    border: none;
    margin-top: 10vh;
    margin-left: 63vw;
}

.home_logo img{
    width: 35vw;
    height: 20vh;
}

.date {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 22vw;
    text-align: right;
    margin-bottom: 25px;
    margin-top: 35vh;
    margin-right: 2vw;
    margin-left: 75vw;
    font-size: 1.5em;
    color: #454040;
  }

  .time{
    font-size: 3em;
    font-weight: bold;
    color: #454040;
  }

